body{
    background-color: #fef6ee;
}

header, .menuadicional{
    border-bottom: 1px solid #8c1819;
    margin: 20px;
    padding: 20px 60px 10px 60px;
    
}

.menu{
    display: flex;
    justify-content: space-between;
    color: #8c1819;
}

.portafolio{
    text-align: center;
    color: #8c1819;
    padding: 200px;
    margin-bottom: -25px;
}
.portfoliodown{
    border-top: 1px solid #8c1819;
    margin: 20px;
    padding: 0px 0px 20px 0px;
    margin-bottom: -55px;
}

img{
    width: 200px;
    height: auto;
}

.about{
    margin: 30px 0px 0px 40px;
}